adf/pipeline/pl_sql_server_to parquet_adwks.json
{
	"name": "pl_sql_server_to parquet_adwks",
	"properties": {
		"activities": [
			{
				"name": "Lookup_tables_info_adwks",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \n\tTABLE_CATALOG,\n\tTABLE_SCHEMA,\n\tTABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_SCHEMA = 'SalesLT';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_server_adwks",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_adwks",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_tables_info_adwks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_tables_info_adwks').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_data_from_sql_to_parquet_adwks",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "SELECT *\nFROM @{item().table_schema}.@{item().table_name}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sql_server_adwks",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_storage_account_parquet_adwks",
									"type": "DatasetReference",
									"parameters": {
										"table": {
											"value": "@concat(item().table_schema, '.', item().table_name)\n",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(item().table_name, '_', 'load_date=', formatDateTime( utcNow(), 'yyyyMMdd'), '.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}